.day_card{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6E71CADE;
}

.day_card_grid{
    display: grid;
    grid-template-columns: repeat(10, 70px);
    column-gap: 10px;
    row-gap: 10px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}