
.sidebar_section::-webkit-scrollbar {
  display: none;
}

.sidebar_new{
  width: 20%;
  // height: 100%;
  // border: 2px solid red;
  // position: relative;

  .sidebar_section{
    width: 100%;
    // height: 100vh;
    // max-width: 250px;
    // border: 2px solid greenyellow;
    background-color: #2A2D74;
    padding: 50px 0px 50px;
    // position: fixed;
    // top: 0;
    // left: 0;
    height: 100%;
    min-height:100vh ;
    overflow-y: scroll;
  }

}
  .Logo_icon{
    display: flex;
    justify-content: center;
  }


  .General_Container{
    padding: 40px 0px;

    h3{
      color: #fff;
      // font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 40px;
      text-align: left;
      text-transform: uppercase;
      margin-left: 30px;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .General_Head{

      a{
        text-decoration: none;
        color: #b1afaf;

        .sidebar_menu{
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 8px 30px;
          color: #fff;
          background-color: #6569BF;
          border-left: 5px solid #fff;
          cursor: pointer;
        }

        .Dribble{
          color: #fff;;
          font-size: 20px;
        }

        h4{
          // font-family: Poppins;
          font-size: 20px;
          font-weight: 400;
          line-height: 36px;
          text-align: left;
        }

        .dashboard_text{
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 8px 30px;
          color: #fff;
          background-color: #2A2D74;
          border-left: 5px solid #2A2D74;
          cursor: pointer;
          
          
         
    
            .Dribble{
              color: #b1afaf;
              font-size: 20px;
            }
    
            h4{
              // font-family: Poppins;
              font-size: 20px;
              font-weight: 400;
              line-height: 36px;
              text-align: left;
            }
        }
      }
    }


    .General_Head_Level{

     
        .sidebar_menu{
          display: flex;
          align-items: center;
          gap: 20px;
          // margin-top: 20px;
          padding: 8px 30px;
          color: #fff;
          background-color: #6569BF;
          border-left: 5px solid #Fff;
          cursor: pointer;
    
            .Dribble{
              color: #fff;
              font-size: 20px;
            }
    
            h4{
              // font-family: Poppins;
              font-size: 20px;
              font-weight: 400;
              line-height: 36px;
              text-align: left;
            }
        }
        .dashboard_text{
          display: flex;
          align-items: center;
          gap: 20px;
          // margin-top: 20px;
          padding: 8px 30px;
          color: #fff;
          background-color: #2A2D74;
          border-left: 5px solid #2A2D74;
          cursor: pointer;
        
    
    
            .Dribble{
              color: #b1afaf;
              font-size: 20px;
            }
    
            h4{
              // font-family: Poppins;
              font-size: 20px;
              font-weight: 400;
              line-height: 36px;
              text-align: left;
            }
        }
    }

    .expert_block{
      display: none;
    }

    .expert{
      display: block;
      
      ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 0px 0px 0px 100px;
        // transition: 2s;

          .link{
            color: rgba(255, 255, 255, 0.65);
            text-decoration: none;
            // border: 2px solid green;
            
            li{
              // border: 2px solid purple;
              // color: rgba(255, 255, 255, 0.65);
              // font-family: Poppins;
              font-size: 19px;
              font-style: normal;
              font-weight: 400;
              line-height: 36px; /* 163.636% */
              cursor: pointer;
              // margin: 10px 0px;
              
            }
          }

          .active{
            color: #fff;
            font-weight: bold;
          }
      }

    }

    .General_Head_Two{
      margin-top: 30px;

      a{
        text-decoration: none;
        color: #b1afaf;

        .Dashboard_Text_Two{
          display: flex;
          align-items: center;
          gap: 20px;
          // border: 2px solid green;
          // margin-top: 20px;
          padding: 8px 30px;
          color: #fff;
          border: 1px solid #2A2D74;
          
          &:hover {
            background-color: #6569BF;
            color: #fff;
            // border-left: 5px solid #fff;
          }
    
    
            .Dribble_Two{
              color: red;
              font-size: 20px;
            }
    
            h4{
              // font-family: Poppins;
              font-size: 20px;
              font-weight: 400;
              line-height: 36px;
              text-align: left;
              color: red;
            }
        }
      }
    }

  
  }