
// @import "./mixins";

.Bacground_ball{
    // width: 100%;
    // height: 500px;
    // background-image: url(../../../public/assets/ball8.svg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: absolute;
    // top: 0;
    // left: 20%;
    // margin-left: 350px;
    // flex-grow: 1;
    // border: 2px solid red;
  }
  
  .main {
    width: 100%;
    // max-width: 1220px;
    position: relative;
    background-color: #F4F6FF;
    padding: 50px 50px;
    // margin-left: 272px;
    // flex-grow: 1;
    // border: 2px solid red;
    // overflow: hidden;
  
    .Dashboard_Wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .Dashboard_Text{
  
        h2{
          font-family: 'Poppins';
          font-size: 28px;
          font-weight: 600;
          line-height: 36px;
          text-align: left;
          color: #2A2D74;        
        }
      }
  
      .Admin_Wrapper{
        display: flex;
        align-items: center;
        gap: 25px;
        
        .Admin_Text{
          display: flex;
          align-items: center;
          gap: 15px;
          // border: 2px solid red;
          padding: 8px 15px ;
          border-radius: 20px;
          background-color: #fff;
  
          .Admin_Icon{
            font-size: 22px;
            color: #2A2D74;
          }
  
          p{
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: #000;
          }
        }
      }
    }
  
    .Today{
      display: flex;
      justify-content: flex-end;
      // border: 2px solid red;
      padding: 20px 0px;
      width: 90%;
      margin: 10px 0px;
  
      .Today_Text{
        display: flex;
        align-items: center;
        gap: 20px;
  
        p{
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 32px;
          text-align: left;
          color: #192126;
        }
  
        .Today_Box{
          display: flex;
          align-items: center;
          gap: 15px;
          // border: 2px solid red;
          padding: 10px 18px ;
          border-radius: 15px;
          background-color: #fff;
          box-shadow: 2px 2px 2px 2px rgb(0,0,0, 0.2);
  
          p{
            font-family: Poppins;
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
            text-align: left;
            color: #192126;
          }
  
          .Today_Icon{
            font-size: 28px;
            cursor: pointer;
          }
         
        }
      }
    }
    
    .Card_Wrapper{
      // border: 2px solid red;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px 15px;
  
      .Card_Box{
        // width: 50%;
        padding: 40px 20px 40px 30px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 2px 2px 2px rgb(0,0,0, 0.2);
        z-index: 999;
  
        &:hover{
          background-color: #C0C2DB;
        }
  
        p{
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.0015em;
          text-align: left;
          color: #2A2D7499;
        }
  
        h2{
          font-family: Poppins;
          font-size: 30px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.0015em;
          text-align: left;
          color: #2A2D74;
          margin: 20px 0px;
        }
  
        .Card_Box_Flex{
          width: 100%;
          display: flex;
          justify-content: flex-end;
  
          .Card_Box_Text_two{
            width: 40%;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 10px 5px 15px;
            border-radius: 8px;
            background-color: #E0E1FF;
            
  
            p{
              // border: 2px solid red;
              color: red;
              font-family: Poppins;
              font-size: 15px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0.0015em;
              text-align: center;
              
            }
  
            .Arrow{
              width: 80%;
            }
          }
  
          .Card_Box_Text{
            width: 40%;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 10px 5px 15px;
            border-radius: 8px;
            background-color: #2A2D74;
            
  
            p{
              // border: 2px solid red;
              color: #fff;
              font-family: Poppins;
              font-size: 15px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0.0015em;
              text-align: center;
              
            }
  
            .Arrow{
              width: 80%;
            }
          }
        }
      }
    }
  
    .Timmy_Wrapper{
      padding: 40px 0px 0px;
      // border: 2px solid red;
      width: 100%;
  
      h2{
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        color: #2A2D74;
      }
  
      .Timmy_Box{
        width: 100%;
        // border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-top: 40px;
    
        .Timmy_img{
          width: 30%;
          border-radius: 8px;
        }
      }
    }
  
   
  }
  
  
  
  
  